<div class="container">
  <div class="row">
    <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
            <%=image_tag "barcelona-boardwalk.jpg"%>
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                              <span>Bem vindo a <strong>Art Nissi Tapeçaria</strong></span>
                            </h2>
                            <br>
                            <h3>
                              <span>Faça seu login ou cadastre-se</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-default btn-lg" id="social" href="/usuarios/sign_in">Login</a><a class="btn btn-default btn-lg" id="social" href="/usuarios/sign_up">Cadastrar</a></div>
                        </div>
                        <div class="container">
  <hr>
        <div class="text-center center-block">
            <br />
                <a href="https://www.facebook.com"><i id="social" class="fa fa-facebook-square fa-4x social-fb"></i></a>
              <a href="https://twitter.com"><i id="social" class="fa fa-twitter-square fa-4x social-tw"></i></a>
              <a href="https://plus.google.com"><i id="social" class="fa fa-google-plus-square fa-4x social-gp"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-4x social-em"></i></a>
</div>
    <hr>
</div>

<br />
                    </div><!-- /header-text -->
          </div>
    </div><!-- /carousel -->

  </div>
</div>
    
