<div style="font-family: sans-serif">
	<p>Olá <%= @resource.email %>!</p>

	<p>Por favor, clique no link abaixo para alterar sua senha.</p>

	<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>Se você não requisitou esta mudança, por gentileza, ignore este email.</p>
	<br>
	<p>Atenciosamente,<p>
	<br>
	<br>
	<p>
	<b>Equipe Art Nissi.<b>
	</p>
</div>